body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: #A9C9FF;
background-image: linear-gradient(180deg, #A9C9FF 10%, #FFBBEC 100%); */
background-image: url('https://img.freepik.com/free-vector/gradient-black-background-with-cubes_23-2149177091.jpg?size=626&ext=jpg&ga=GA1.1.1610615217.1696656639&semt=ais');
background-size: cover;
background-repeat: no-repeat;


}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
